.banner
  .container
    .row
      .col-lg-6
        h2 Being a Man is Easy&acirc;&euro;&brvbar;
        h4 By Shadrack Landi
      .col-lg-6
        ul.list-inline.banner-social-buttons
          li
            a.btn.btn-default.btn-lg(href='https://twitter.com/SBootstrap')
              i.fa.fa-twitter.fa-fw
              span.network-name Twitter
          li
            a.btn.btn-default.btn-lg(href='#')
              i.fa.fa-facebook.fa-fw
              span.network-name Facebook
  // /.container
// /.banner
.content-section-a
  .container
    .row
      .col-lg-9.col-lg-offset-1
        hr.section-heading-spacer
        .clearfix
        h2.section-heading Being a Man is Easy&acirc;&euro;&brvbar;
        h4 By Shadrack Landi
        p.lead
          | Being a man looks easy, at least from the other side. Ask a lady, any lady; and they will tell you that we have it easy. What&acirc;&euro;&trade;s so hard about waking up at 6:30 and being ready by 6:45? Or not having to sit in front of a mirror with a pencil trying to line your eyes? Guys can walk around in a pair of khaki shorts, t-shirt and sandals on a lazy Saturday and decide to go to a wedding without even changing. Have you ever seen a woman do that? You&acirc;&euro;&trade;d have to tell her about the wedding three days before she is born; she has to find the right dress,
        button.btn.btn-lg.btn-danger.btn-block.blog-btn Delete