doctype html
html(ng-app="myApp")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='')
    base(href='/')
    title Storyline
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css' rel='stylesheet')
    // Custom CSS
    link(href='css/landing-page.css' rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet' type='text/css' href='/bower_components/components-font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href='/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css')
    style(type='text/css' media='screen').
      .btn.jumbo {
       font-size: 20px;
       font-weight: normal;
       padding: 14px 24px;
       margin-right: 10px;
       -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
       border-radius: 6px;
      }
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  // Navigation
  body
    block content
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    block scripts
    script(src='/bower_components/wysihtml5x/dist/wysihtml5x-toolbar.min.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/handlebars/handlebars.runtime.min.js')
    script(src='/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.js')
    script.
     $('.textarea').wysihtml5({
      toolbar: {
       fa: true
      }
     });
